*{
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Membuat semua bentuk font */
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

body{
    margin: 0;
}


.header{
    width: 100%;
    height: 50vn;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0,0.40));
    background-color: rgb(205, 92, 92) ;
    background-position: center;
    background-size: center;
}

.nav{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo{
    width: 150px;
    margin-top: none;
    margin: 20px;

}

.nav-menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.nav-menu li a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-weight: 600;
}

li a:hover{
    background: black;
    transition: 0.5s;
}

.nav-menu a:hover{
    color: white;
}

footer{
    margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: white;
    background: #343434;
    padding-top: 50px;
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: left;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}

.bottom-bar{
    background: rgb(205, 92, 92);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}



.content video{
  width: 100%;
  height: 100%;
  bottom: 0%;
}



/* Ukuran smartphone */
[class*="col-"]{
    width: 100%;
}

/* Ukuran Tablet*/
@media screen and (min-width:800px){
    .col-1{width:8.33% }
    .col-2{width:16.66%}
    .col-3{width:25%}
    .col-4{width:33.33%}
    .col-5{width:41.66%}
    .col-6{width:50%}
    .col-7{width:58.33%}
    .col-8{width:66.66%}
    .col-9{width: 75%}
    .col-10{width:83.33 }
    .col-11{width:91.66% }
    .col-12{width:100% }
}


/* Ukuran Komputer*/
@media screen and (min-width:1024px){
    .col-1{width:8.33% }
    .col-2{width:16.66%}
    .col-3{width:25%}
    .col-4{width:33.33%}
    .col-5{width:41.66%}
    .col-6{width:50%}
    .col-7{width:58.33%}
    .col-8{width:66.66%}
    .col-9{width: 75%}
    .col-10{width:83.33 }
    .col-11{width:91.66% }
    .col-12{width:100% }
}




  
  
